body {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility;
	color:#000000;
	padding:0px 0px 30px 0px;
}

a {
	color:#000;
}

.fix {
	clear:both;
}

p { text-align:justify; }

/********* Mobile Styles **********/

.show-for-dektop-only {
	display:none;	
}
.show-for-mobile {
	display:block;	
}

.free-shipping {
	line-height:40px;
	height:40px;
	border-bottom:1px solid #000;
	font-size:12.5px;
}

a.shopping-cart {
	display:block;
	height:40px;
	width:130px;
	line-height:40px;
	float:right;
	font-size:12px;
	text-transform:uppercase;
}

.view-cart {
	background:url(../img/ico-view-cart.gif) center right no-repeat;
	border-left:1px solid #000;
	text-align:center;
}

/***** Footer ****/
.social-footer {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	padding:15px 10px 15px 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.footer-newsletter {
	margin-right:10px;
}

.social-footer input[type="text"], .button, form {
	margin:0px;
}

.social-footer input[type="text"] {
	border:1px solid #000000;
	height:1.9em;
	color:#000;
	width:115px;
	font-style:italic;
	float:left;
}

.social-footer .button {
	border-color:#333;
	height:1.9em;
	background:url(../img/button-go.gif) center center no-repeat #000;
	width:29px;
	height:27px;
	float:left;
}

ul.social-links {
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:right;
}

ul.social-links li {
	width:27px;
	height:27px;
	float:left;
	margin:0px 1px 0px 0px;
	text-indent:-5000px;
}

ul.social-links li a {
	width:27px;
	height:27px;
	display:block;
	background:url(../img/ico-social.gif) 0px 0px no-repeat;
}

ul.social-links li a.facebook {
	background-position:0px 0px;
}
ul.social-links li a.facebook:hover {
	background-position:0px -27px;
}

ul.social-links li a.instagram {
	background-position:-27px 0px;
}
ul.social-links li a.instagram:hover {
	background-position:-27px -27px;
}
ul.social-links li a.pinterest {
	background-position:-54px 0px;
}
ul.social-links li a.pinterest:hover {
	background-position:-54px -27px;
}
ul.social-links li a.twitter {
	background-position:-81px 0px;
}
ul.social-links li a.twitter:hover {
	background-position:-81px -27px;
}
ul.social-links li a.vimeo {
	background-position:-108px 0px;
}
ul.social-links li a.vimeo:hover {
	background-position:-108px -27px;
}

.logo-zindigo {
	clear:both;
	display:block;
	float:right;
}

.footer-links {
	font-size:14px;
	color:#909090;
	line-height:2em;
}

.footer-links span {
	color:#000;
}

.footer-links a {
	color:#000000;
}

.footer-links a:hover {
	color:#000000;
	text-decoration:underline;
}

/****** Home Popup *************/
.home-modal {
	display:none;
	width:auto;
	background:url(../source/bg-container.png) repeat;
	padding:5px;
}

.home-modal h1 {
	font-family: 'GFS Didot', serif;
	font-size:24px;
	color:#000;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-weight:400;
}

.home-modal h2 {
	font-family: 'GFS Didot', serif;
	font-size:22px;
	color:#000;
	margin:5px 0px 5px 0px;
	padding:0px;
	font-weight:400;
}

.home-modal .featured-title {
	border-bottom:1px solid #000;
}

.home-modal .small-image-video {
	float:left;
	margin:0px 10px 10px 0px
}

.home-modal .featured-descripcion {	
	font-family: 'Lato', sans-serif;
	font-size:16px;
	color:#000;
	clear:both;
}

.home-modal .featured-descripcion span {
	border-bottom:1px solid #000;
	line-height:2em;
	font-size:16px;
}

.home-modal span.big-price {
	font-family: 'GFS Didot', serif;
	font-size:20px;
	color:#000;
}

.home-modal span.small-price {
	font-family: 'GFS Didot', serif;
	font-size:30px;
	color:#000;
	font-weight:700;
	line-height:1.3em;
}

.home-modal a.buy-now {
	font-family: 'GFS Didot', serif;
	font-size:20px;
	color:#000;
}

.home-modal a.buy-now:hover {
	text-decoration:underline;
}

/***** Orbit Hidden Class *****/
.orbit-prev, .orbit-next, .orbit-slide-number {
	display:none;
}


/********** OUR STORY ************/
.our-story .row-story-borders {
	/*border-bottom:1px solid #000;*/
	padding:20px 0px 20px 0px;
	margin-bottom:20px !important;
}

.our-story h1 {
	font-family: 'GFS Didot', serif;
	font-size:16px;
	font-weight:700;
	color:#000;
	margin:10px 0px 10px 0px;
	padding-bottom:10px;
	padding-left:20px;
}

.our-story h2 {
	font-family: 'GFS Didot', serif;
	font-size:20px;
	font-weight:300;
	color:#000;
	margin:10px 0px 10px 0px;
}

.our-story h2 span {
	font-size:20px;
}

.our-story h3 {
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:100;
	color:#5e5e5e;
	margin:10px 0px 10px 0px;
}

.our-story p {
	font-family: 'Lato', sans-serif;
	font-size:13px;
	font-weight:400;
	color:#000000;
	text-align:justify;
}

/*********** COLLECTIONS ***************/

.our-collections {
	border-bottom:1px solid #000000;
}

.our-collections h1 {
	font-family: 'GFS Didot', serif;
	font-size:20px;
	font-weight:700;
	color:#000;
	padding:0px;
	margin:0px;
	text-align:center;
}

a.view-look-book {
	padding:10px;
	border:1px solid #333;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-size:13px;
	color:#000;
	display:inline-block;
	margin:10px 0px 10px 0px;
}

a.view-look-book:hover {
	background:#000;
	color:#fff;
}

ul.lookbook-responsive {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

ul.lookbook-responsive li {
	float:left;
	margin:0px 10px 10px 0px;
	border:1px solid #000;
}

.look-book h1 {
	font-family: 'GFS Didot', serif;
	font-size:16px;
	font-weight:700;
	color:#000;
	margin:10px 0px 10px 0px;
	padding-bottom:10px;
}

/*********** SHOP ****************/
.shop h1 {
	font-family: 'GFS Didot', serif;
	font-size:18px;
	font-weight:700;
	color:#000;
	margin:30px 0px 10px 0px;
}

.item { width: 120px; margin-bottom:30px; cursor:pointer; font-size:12px; font-family: 'Lato', sans-serif; line-height:2em; }

.item img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.item img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.row-price {
	border-bottom:1px solid #000;
	padding:10px 0px 5px 0px;
	font-family: 'GFS Didot', serif;
	font-size:18px;
	font-weight:700;
	color:#000;
	
}

.row-price span {
	font-family: 'Lato', sans-serif;
}

.product-description {
	padding:10px 0px 10px 0px;}
	
.product-description span {
	display:none;}

.product-description h1, .product-description h2 {
	display:none;	
}
	
.product-description p {
	font-family: 'Lato', sans-serif;
	font-size:14px;
	color:#000;
	line-height:1.6em;
	margin-bottom:0px;}

ul#images-shop-detail.exposureThumbs li {
	margin:10px 5px 0px 0;
	float:left;
	/*border:1px solid #000;*/
	list-style-type:none;
}

ul#images-shop-detail.exposureThumbs li img {
	cursor:pointer;
	width:60px;
	height:60px;
}

.large.button.expand.add-cart {
	background-color:#000;
	border-color:#000;
	padding:15px 0px 15px 0px;
	font-size:14px;
	margin-bottom:20px;
}

form.custom .custom.dropdown {
	background:#fff;
	border-color:#000;
	height:3em;
	margin-bottom:10px;
}

form.custom .custom.dropdown .current {
	line-height:3em;
}

form.custom .custom.dropdown .selector {
	height:3em;
}

form.custom .custom.dropdown .selector:after {
	border-color:#000000 transparent transparent transparent;
}

form.custom .custom.dropdown.medium {
	max-width:none;	
}
form.custom .custom.dropdown.open.medium ul {
	min-width:100%;	
}

a.read-reviews {
	border:1px solid #000;
	display:block;
	padding:6px 0px 6px 0px;
	text-align:center;
	font-style:italic;
	font-size:14px;
	margin-right:10px;
}

a.read-reviews:hover {
	font-weight:bold;
}

/******** CREATE *****************/
.coming-soon {
	font-family: 'GFS Didot', serif;
	font-size:30px;
	font-weight:700;
	color:#000;
	padding:50px 0px 50px 0px;
}

/******** HASH TAG *****************/
.hashtag {
	padding:20px;
}

/******** BLOG *****************/

.blog .blog-image {
	border-bottom:1px solid #000;
	border-top:1px solid #000;
}

.blog span{
	display:block;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:14px;
	color:#000;
	line-height:2em;
}

.blog h1{
	display:block;
	font-family: 'GFS Didot', serif;
	font-weight:400;
	font-size:18px;
	color:#000;
	border-bottom:1px solid #000;
	padding-bottom:5px;
	margin:0px 0px 10px 0px;
}

.blog p {
	font-family: 'Lato', sans-serif;
	color:#000;
	font-size:14px;
}

.blog p a{
	font-weight:700;
}

.blog a.posted-by {
	background:#6F6F6F;
	color:#fff;
	display:block;
	border:1px solid #000;
	padding:0px 0px 0px 10px;
	font-size:14px;
	line-height:25px;
	margin-right:10px;
	margin-bottom:20px;
}

.blog a.posted-by:hover {
	background:#000;
	border:1px solid #6F6F6F;
}

/******** STOCKIST *****************/

.stockist {
	padding-top:20px;
	background:url(../img/bg-stockist.gif) no-repeat top center;
}

.stockist h1 {
	font-family: 'GFS Didot', serif;
	font-weight:400;
	font-size:20px;
	color:#000;
	display:block;
}

.stockist h2 {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#000;
	text-decoration:underline;
}

.stockist p {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#000;
	line-height:1.4em;
}



/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {

.free-shipping {
	border-bottom:none;
	border-right:1px solid #000;
}

/********** OUR STORY ************/
.our-story h1 {
	border-bottom:1px solid #000;
	
}

.our-story h2 {
	font-size:38px;
	line-height:1em;
	margin-top:80px;
	text-align:center;
}

.our-story h2 span {
	font-size:110px;
	display:block;
	margin-bottom:20px;
}

.our-story h3 {
	font-size:24px;
	text-align:center;
}

.our-story-image {
	margin-bottom:20px;
}

.our-collections {
	border:none;
}

.our-collection-title {
	border-bottom:1px solid #000;
	padding-bottom:0px;
	margin-bottom:20px !important;
}

.our-collections h1 {
	text-align:left;
	line-height:2em;
}

a.view-look-book {
	margin:0px;
	float:right;
}

.row.collapse.look-book {
	border-bottom:1px solid #000;
	margin-bottom:20px;
}

/************* OUR SHOP ************/
ul#images-shop-detail.exposureThumbs li {
	margin:0px 0px 10px 20px;
}

/******** BLOG *****************/

.blog .blog-image {
	border:none;
}

/******** STOCKIST *****************/

.stockist-columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;

  -moz-column-count: 2;
  -moz-column-gap: 20px;

  column-count: 2;
  column-gap: 20px;
 }

}


@media only screen and (min-width: 940px) {

.spacing-fix { margin-top:150px; }

.container { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
  z-index:100;

}

.container > .position-fixed {
  display: inline-block;
  text-align: left;
}

.top-bar {
 background:none;
 height:180px; }

.top-bar.expanded {
 background:none; }

.top-bar-section ul {
	background:none;
}
		  
.top-bar-section ul li {
	margin:0px;
	width: 11.11111%;
	padding: 0 0.625em 1.25em; }

.top-bar-section ul li:last-child {
	margin-right:0px; }

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	display:none !important;}
		
.top-bar-section li a:not(.button) {
      padding: 0px;
	  /*width:130px;
	  height:130px;
      line-height: 130px;*/
	  background: #ffffff;
	  opacity: 0.8;
	  border:1px solid #000;
	  width:95px;
	  height:95px;
	  line-height:95px;
	  font-size: 11px;
}

.top-bar-section li a:hover {
	  background: #000000;
	  color:#ffffff;
	  font-style:italic;
	  opacity:1.0;
}

.top-bar-section li a.current-section {
	  background: #000000;
	  color:#ffffff;
	  font-style:italic;
	  opacity:1.0;
}

.top-bar-section ul li > a {
	color:#000000;
	text-align:center;	
	font-family: 'GFS Didot', serif;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
}

.top-bar-section .has-dropdown > a {
      padding-right: 0px !important; }
      .top-bar-section .has-dropdown > a:after {
        /*content: "";*/
        display: block;
        width: 0;
        height: 0;
        border: none;
        border-color:none;
        border-top-style: none;
        margin-top: -2.5px;
        top: 22.5px; }

.top-bar-section .dropdown {
      left: 10px;
      top: auto;
      background: transparent;
      min-width: 100%;
	  }
	  .top-bar-section .dropdown li {
		  margin-top:10px;
		  padding:0px;
	  }
      .top-bar-section .dropdown li a {
        color: #000;
        line-height: 1em !important;
        white-space:normal !important;
        padding: 0px 5px 0px 5px;
		height:65px !important;
		line-height:normal;
        background: #fff;
		font-size:12px;
		display: table-cell; 
  		vertical-align: middle;  }
		
		.top-bar-section .dropdown li a:hover {
        color: #fff;
        background: #000;
		}
		
		.top-bar-section .divider, .top-bar-section [role="separator"] { display:none; }
		
.top-bar-section li.desktop-logo a {
	border:none;
	opacity:1.0;
}

.top-bar-section li.desktop-logo a:hover {
	background-color:transparent;
}

.slideshow-wrapper {
	margin-top:40px;
}
	
.social-footer {
	border:none;
}

.header-line-div {
	width:5px;
	height:40px;
	line-height:40px;
	float:right;
	margin-top:-3px;
}

a.shopping-cart.view-cart {
	border-left:none;
	width:130px;
	padding-right:25px;
}

.free-shipping {
	line-height:40px;
	border:none;
}

.desktop-footer a {
	font-size:12px;
	padding:0px 20px 0px 0px;
}
.desktop-footer a:hover {
	text-decoration:underline;
}

.reveal-modal {
	top: 15em;
}

.orbit-bullets li {
	cursor:pointer;	
}

.orbit-timer {
	visibility:hidden;
}


/********** OUR STORY ************/
.our-story {
	padding-top:40px;
}

.our-story h1 {
	display:none;
}

.our-story .video-desktop {
	float:left;
	margin:0px 60px 80px 0px;
	
}

.our-story h2 {
	border-right:1px solid #ccc;
	width:90%;
	height:110px;
	margin:0px;
	padding: 25px 0px 0px 20px;
	font-size:28px;
}

.our-story h2 span {
	margin-bottom:0px;
	font-size:80px;
}

.our-story h3 {
	font-size:40px;
	font-weight:100;
	margin:20px 0px 50px 0px;
	color:#000;
}

/********** OUR COLLECTIONS *********/

h1.our-collections-h1 {
	font-family: 'GFS Didot', serif;
	font-size:46px;
	color:#000;
	font-weight:300;
	border-bottom:1px solid #000;
	width:55%;
	margin:0 auto;
	padding-bottom:0px;
	text-align:center;
	margin-bottom:20px;
}

.nbs-flexisel-container {
	margin-top:40px;
}

.row.lookbook-carousel {
	width:910px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

#main {
	width:1065px;
	height:521px;
	margin:0 auto;
}

#images {
	display:none;
	margin:0 24px;
	float:left;	
	width:765px;
}

#images-shop-detail {
	display:none;
	width:180px;
}

#right,
#left {
	display:inline;
	float:left;
	padding-top:10px;
}

#right a img,
#left a img {
	height:43px;
	width:17px;
	border:none;
	opacity:0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
}

#right a:hover img,
#left a:hover img {
	opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}

#right a,
#left a {
	outline:none;
}


ul.exposureThumbs {
	border-right:none;
	padding:0;
	margin:0;
	list-style-type:none;
	height:79px;
}

ul.exposureThumbs li {
	margin:0 3px 0 0;
	padding:0;
	text-align:center;
	display:none;
	float:left;
}

ul#images-shop-detail.exposureThumbs li {
	margin:0 3px 16px 0;
	float:none;
	/*border:1px dotted #ccc;*/
}

ul#images-shop-detail.exposureThumbs li img {
	width:110px;
	height:110px;
}

ul.exposureThumbs li img {
	cursor:pointer;
}

ul.exposureThumbs li.last {
	margin:0;
}

.exposureTarget {
	width:1065px;
	height:521px;
	background-image:url(../source/fancybox_loading.gif);
	background-repeat:no-repeat;
	background-position:center center;
	padding:0;
	margin:0 auto;
	position:relative;
	overflow:hidden; 
}

.exposureWrapper {
	position:absolute; 
	top:0; 
	left:0;
}

.exposureWrapper img {
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
}

.exposureLoaded {
	background-image:none;	
}

.exposureData {
	position:absolute;
 	left:0;
 	right:0;
 	top:0;
	height:60px;
	padding:7px;
	color:#000;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

/* In this demo we are using thumbs with fixed size */
ul.exposureThumbs li {
	width:150px;
	height:79px;
}

.exposureSlideshowControls a {
	font-size:11px;
	color:#bba;
	text-decoration:none;
	outline:none;
	padding:2px 6px;
	display:inline;
}

.exposureSlideshowControls a:active,
.exposureSlideshowControls a:hover {
	background-color:#999;
	color:#444;
}

.clear {
	clear:both;	
}


/*********** SHOP ****************/
.item { width: 265px; }

.shop-detail {
	padding:40px 0px 50px 0px;
}

.shop-detail-padding {
	padding-left:70px;
}

#products { padding-top:40px;}

.product-description h1, .product-description h2 {
	display:block;	
}
.product-description h1 {
	font-family: 'GFS Didot', serif;
	font-size:22px;
	color:#000;
	font-weight:700;
	margin:0px;
	padding:0px;
	line-height:normal;
}

.product-description h2 {
	font-family: 'Lato', sans-serif;
	font-size:13px;
	color:#000;
	font-weight:400;
}

.product-description span {
	display:block;
	font-weight:700;
	margin:20px 0px 20px 0px;}
	
.shop-detail form.custom {
	width:53%;
}



/******** CREATE *****************/
.coming-soon {
	font-size:70px;
	padding:100px 0px 50px 0px;
}

/******** HASH TAG *****************/
.hashtag {
	padding:30px 0px 0px 40px;
}

/******** BLOG *****************/
.blog{
	padding:50px 0px 0px 50px;
}

.blog .blog-image {
	margin-bottom:20px;
}

.blog .blog-image img {
	border:1px solid #000;
}

/******** STOCKIST *****************/

.stockist-columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;

  -moz-column-count: 3;
  -moz-column-gap: 20px;

  column-count: 3;
  column-gap: 20px;
 }
 
.parragraph-fix {
	margin-top:100px;
}
 
/****** Home Popup *************/
.home-modal {
	width:420px;
}

.home-modal h1 {
	font-size:30px;
}

.home-modal .featured-title {
	border-bottom:none;
	border-right:1px solid #ccc;
}

.home-modal .bigger-video {
	margin:10px 0px 10px 0px;
}

.home-modal .nbs-flexisel-container {
	margin-top:0px;
}

.home-modal .nbs-flexisel-nav-left {
	top:15px !important;
	left:-20px;
}

.home-modal .nbs-flexisel-nav-right {
	top:15px !important;
	right:-20px;
}

.home-modal .nbs-flexisel-item {
	margin-right:25px;
}

.social-footer input[type="text"] {
	width:165px;
}


}


@media only screen 
and (min-width : 1200px) {

.our-story h2 {
	font-size: 30px;
	line-height: 1em;
}

.our-story h2 span {
	font-size: 90px;
}

.our-story h3 {
	font-size:50px;
}

}

@media only screen 
and (min-width : 768px)  {
.shop-forms-spacing {
	padding-right:10px !important;
}
 
}
/* Styles for screens that are betwen 940px and 1920px */
@media only screen 
and (min-width : 940px) 
and (max-width : 1920px) {
.show-for-dektop-only {
	display:block;	
}

.show-for-mobile {
	display:none;	
}

}

@media only screen and (min-width : 1024px) {

.top-bar-section li a:not(.button) {
	width:95px;
	height:95px;
	line-height:95px;
	font-size: 11px;
}

.top-bar-section .dropdown li a {
	font-size:12px; 
}

.footer-newsletter {
	margin-left: 660px;
}

}


@media only screen and (min-width : 1025px) {

.top-bar-section li a:not(.button) {
	  width:110px;
	  height:110px;
	  line-height:110px;
	  font-size: 12px;
}

.top-bar-section .dropdown li a {
	font-size:12px; 
}

}

@media only screen and (min-width : 1200px) {

.top-bar-section li a:not(.button) {
	  width:130px;
	  height:130px;
	  line-height:130px;
	  font-size:14px;
}

.top-bar-section .dropdown li a {
	font-size:12px; 
}

h1.our-collections-h1 {
	font-size:48px;
	width:53%;
}

}