.clearout {
	height:20px;
	clear:both;
}

#Collections {
	display:none;
}

#Featured-Carousel {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    /*float:left;*/
    width:100%; 
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px 0px 0px 0px;
    cursor:pointer;
    position:relative;
    line-height:normal;
	font-family: 'Lato', sans-serif;
	font-size:13px;
	font-weight:400;
	color:#000;
}

@media only screen 
and (min-width : 767px) 
and (max-width : 1001px) {

	.nbs-flexisel-item {
		margin-right:50px;
	}

}

.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    positon: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:200px;
    max-height:200px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 17px;
    height: 43px; 
    position: absolute;
    cursor: pointer;
    z-index: 300;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -10px;
    background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -10px;
    background: url(../img/button-next.png) no-repeat;
}

